<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.shiyi.mapper.RssSubscriptionMapper">

    <insert id="insert">
        insert into rss_subscriptions (visitor_id, nickname, email, is_active, subscribe_time)
        values (#{visitorId}, #{nickname}, #{email}, #{isActive}, #{subscribeTime})
    </insert>

    <select id="pageQuery" resultType="cc.shiyi.entity.RssSubscriptions">
        select * from rss_subscriptions
        <where>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
        order by subscribe_time desc
    </select>

    <update id="update">
        update rss_subscriptions
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="email != null">email = #{email},</if>
            <if test="isActive != null">is_active = #{isActive},</if>
            <if test="unSubscribeTime != null">un_subscribe_time = #{unSubscribeTime}</if>
        </set>
        where id = #{id}
    </update>
    
    <delete id="batchDelete">
        delete from rss_subscriptions where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
